.blogfaqs__container {
    font-family: 'Arial', sans-serif;
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 20px;
}

.blogfaqs__title {
    color: #282828;
    margin-bottom: 40px;
    border-bottom: 1px solid #ccc;
}

.blogfaqs__title h1 {
    font-size: 18px !important;
    margin: 0 !important;
    padding: 20px 5px 12px 12px;
    line-height: 25px;
    font-style: normal;
    font-weight: 400;
}

.blogfaqs__section {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    overflow: hidden;
}

.blogfaqs__button {
    width: 100%;
    padding: 10px 12px;
    background-color: #bd8e26;
    color: white;
    text-align: left;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogfaqs__button h2 {
    font-size: 16px;
    font-style: normal;
    text-transform: uppercase;
}

.blogfaqs__button:hover {
    background-color: #bd8e26;
}


.blogfaqs__icon {
    font-size: 20px;
}

.blogfaqs__content {
    padding: 20px;
    background-color: #f9f9f9;
}

.blogfaqs__item {
    margin-bottom: 10px;
}

.blogfaqs__question {
    font-weight: bold;
    color: #003468;
    font-size: 16px;
    margin-bottom: 10px;
}

.blogfaqs__answer {
    font-size: 14px;
    font-weight: 300;
    color: #666;
    margin-bottom: 10px;
}
