.diamondprice__container {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    max-width: 1380px;
    text-align: center;
}

.diamondprice__banner .banner__image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.diamondprice__content h1 {
    font-size: 35px;
    color: #ff0000;
    margin-bottom: 20px;
}

.diamondprice__content .diamondprice__intro {
    margin-bottom: 20px;
}

.diamondprice__content .diamondprice__intro p {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 18px;
}

.diamondprice__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.diamondprice__table th, .diamondprice__table td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background-color: #cacaca;
}

.diamondprice__table th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    height: 40px;
    white-space: nowrap;
    background-color: #8C6B31;
}

.diamondprice__note p {
    font-size: 18px;
    color: #333;
    text-align: left;
    line-height: 1.6;
}
.diamondprice__content h2 {
    font-size: 1.2rem;
    text-align: start;
    font-weight: bolder;
    color: #ea1c23;
}