.Cart-fiTrash2-cover {
    height: 30px;
    position: relative;
    padding: 5px;
    display: flex;
    align-items: center;
}

.Cart-fiTrash2 {
    position: absolute;
    right: 10px;
}

.Cart-fiTrash2:hover {
    cursor: pointer;
    color: red;
}

.Cart-last-part-cart-container {
    padding: 10px 5px;
    background-color: cornsilk;
    border-radius: 5px;
    border: 1px solid black;
}


.Cart-total-cover {
    display: flex;
    justify-content: space-between;
    margin: 0px 5px;
    font-size: larger;
    font-family: fantasy;
    color: red;
}