.CartItem-cover {
    display: flex;
    border-bottom: 0.1px solid rgba(128, 128, 128, 0.5);
}


.CartItem-cover-image {
    width: 100%;
    min-height: 120px;
    display: flex;
    align-items: center;
    margin: 0 5px;
}

.CartItem-cover-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 5px;
}

.CartItem-body-title {
    display: flex;
    justify-content: space-between;
}

.CartItem-title-cart {
    font-size: smaller;
    color: black;
    text-decoration: none;
}

.CartItem-title-cart:hover {
    text-decoration: underline;
}

.CartItem-IoMdClose:hover {
    cursor: pointer;
    color: red;
}

.CartItem-cover-amountAndPrice {
   display: flex;
   gap: 10px;
   height: 36px;
}

.CartItem-amount {
    display: flex;
    align-items: center;
    flex: 1 1 0%;
    max-width: 100px;
    height: 70%;
    font-size: smaller;
    border: 0.1px solid rgba(128, 128, 128, 0.5);
}

.CartItem-IoMdRemove {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    flex: 1 1 0%;
}

.CartItem-IoMdRemove:hover {
    color: red;
}

.CartItem-quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2px;
}

.CartItem-IoMdAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    flex: 1 1 0%;
}

.CartItem-IoMdAdd:hover {
    color: red;
}

.CartItem-price {
    flex: 1 1 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    font-size: smaller;
}

.CartItem-total-price {
    flex: 1 1 0%;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 70%;
    font-size: smaller;
    font-weight: bold;
}