.CheckOutCart-Container {
    padding: 10px;
}

.CheckOutCart-Button-Continous-Shopping-Container {
    font-size: larger;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    background-color: cornsilk;
    border-radius: 5px;
    width: fit-content;
    height: 40px;
}

.CheckOutCart-Arrow {
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.CheckOutCart-Button-Continous-Shopping-Cover {
    display: flex;
    column-gap: 15px;
    overflow: hidden;
    width: 200px;
    position: relative;
}

.CheckOutCart-Button-Continous-Shopping-Cover:hover .CheckOutCart-Button-Continous-Shopping {
    opacity: 0;
}

.CheckOutCart-Button-Continous-Shopping-Cover:hover .CheckOutCart-Button-MdShoppingCart {
    animation: moveRight 2.5s infinite;
    position: absolute;
    left: -25px;
}

@keyframes moveRight {
    0% {
        transform: translateX(170px);
    }

    100% {
        transform: translateX(0);
    }
}

.CheckOutCart-Button-Continous-Shopping {
    background-color: transparent;
}

.CheckOutCart-Cover {
    display: flex;
    gap: 25px;
    padding: 10px 0px;
}

.CheckOutCart-Your-Cart {
    max-width: 400px;
    width: 100%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
}

.CheckOutCart-Your-Infor {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: fit-content;
    background-color: #fbd83d;
}

.CheckOutCart-MultiStepProgress {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.CheckOutCart-Infor-Content {
    margin-bottom: 1rem;
}

.CheckOutCart-Infor-Content-H2 {
    background-color: #f3c507;
    padding: 10px 15px;
    border-radius: 10px;
    margin: 0;
    color: #0b4b88;
}


.CheckOutCart-button-navigation {
    display: flex;
    gap: 40px;
}

.CheckOutCart-button {
    padding: 10px 20px;
    width: 125px;
    border-radius: 10px;
    background-color: #f3c507;
    color: #0b4b88;
}

.CheckOutCart-button:hover {
    box-shadow: 0 0 10px 3px #ceae08;
}
