.diamond-guide {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    width: 100%;
    margin: 0;
    text-align: center;
}

.image {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding-bottom: 20%;
    position: relative;
}

.image img {
    width: 90%;
    display: none;
}

.diamond-guide h1 {
    text-align: center;
    font-size: 28px;
    color: #ff0000;
    /* Brighter red color */
    margin-bottom: 20px;
    margin: 40px 0 20px;
}

.diamond-guide__section {
    margin-bottom: 40px;
    width: 90%;
    margin: 0 auto;
}

.diamond-guide__section h2 {
    font-size: 22px;
    color: #ff0000;
    margin-bottom: 10px;
    text-align: left;
}

.diamond-guide__section p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.6;
    text-align: left;
}

.diamond-guide__images {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.diamond-guide__images img {
    max-width: 200px;
    border: none;
    /* Removed border around images */
    border-radius: 0;
    /* Removed border radius around images */
}

.diamond-guide__cut-image,
.diamond-guide__color-image,
.diamond-guide__clarity-image {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.diamond-guide__cut-image img,
.diamond-guide__color-image img,
.diamond-guide__clarity-image img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-bottom: 10px;
    text-align: left;
}

ul li {
    margin-bottom: 5px;
    font-size: 16px;
}

ul li b {
    color: #ff0000;
    /* Brighter red color */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

table,
th,
td {
    border: 1px solid #ddd;
    text-align: center;
}

th,
td {
    padding: 8px;
    font-size: 14px;
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}