.section__footer {
    position: relative;
    background: #f7f7f7;
    height: 520px;
    padding-top: 65px;
    border-top: 1px solid #cfd1d2;
}

.footer__container {
    max-width: 1240px;
    margin: 0 auto;
}

.footer__content p {
    color: gray;
    font-family: inherit;
}

.footer__content h4 {
    padding-top: 10px;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    color: gray;
    font-family: inherit;
}

.footer__content .nav-link {
    margin-bottom: 0.5rem;
    color: gray;
    font-family: inherit;
    font-size: 1rem;
}

.footer__content .nav-link:hover {
    text-decoration: underline;
}

.nav-link .active {
    color: black;
    font-weight: bold;
}

.footer__logo-text {
    margin-top: 1rem;
    color: #333;
}

.section__footer .quick-link {
    position: relative;
    margin-top: 50px;
    border-top: 1px solid #a5a5a5;
    color: #7e7e7e;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.quick-link p {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    color: gray;
    padding-top: 20px;
}