.section__footer {
    background: #fff;
}

.footer__container {
    max-width: 1340px;
    margin: 0 auto;
    border-top: 1px solid #a5a5a5;
}
.footer__content p{
    color: rgb(82, 81, 81);
    font-size: 0.85rem;
    font-family: inherit;
    padding-left: 16px;
}

.footer__content h4 {
    padding-top: 10px;
    margin-bottom: 0.8rem;
    font-size: 15px;
    font-weight: 700;
    font-family: inherit;
    padding-left: 16px;
    text-transform: uppercase;
    
}
.footer__content .nav-link {   
    color: rgb(82, 81, 81);
    font-family: inherit;
    font-size: 0.85rem;
    margin-left: 0;
}

.footer__content .nav-link:hover {
    text-decoration: underline;
}

.nav-link .active {
    color: black;
    font-weight: bold;
}

.footer__logo-text {
    margin-top: 1rem;
    color: #333;
}

/* .section__footer .quick-link {
    position: relative;
    margin-top: 50px;
    border-top: 1px solid #a5a5a5;
    color: #7e7e7e;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.quick-link p {
    font-family: "Exo 2";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 35px;
    color: gray;
    padding-top: 20px;
} */
 .social-icons{
    padding-left: 7.8px;
 }
.social-icons img, .payment-icon{
    max-width: 35px;
    height: auto;
    font-size: 0;
    margin-left: 10px;
}