.InforBuyerStep1-radio-select-gender {
    display: flex;
    gap: 25px;
    margin: 10px 0px;
}

.InforBuyerStep1-radio-gender {
    display: flex;
    gap: 10px;
}

.InforBuyerStep1-input-infor-cover {
    display: flex;
    gap: 25px;
}

.InforBuyerStep1-input-infor {
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
}

.InforBuyerStep1-select-address-cover {
    display: flex;
    gap: 25px;
}

.InforBuyerStep1-select-address {
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 1rem;
    background-color: transparent;
    border-radius: 5px;
    width: 50%;
}

.InforBuyerStep1-input-address {
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    width: 50%;
}

.InforBuyerStep1-input-address-takeNote {
    border: 1px solid black;
    margin-bottom: 1rem;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
}

.InforBuyerStep1-transport-free-cover {
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 1rem;
}

.InforBuyerStep1-transport-free {
    margin-bottom: 0;
}

.InforBuyerStep1-checkBox-policy-cover {
    display: flex;
    flex-direction: column;
}
