.cover-product {
    width: 270px; /* Chiều dài của sản phẩm */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 10px 20px; /* Khoảng cách giữa các sản phẩm */
    position: relative; /* Để có thể sử dụng absolute cho RiShoppingBag3Fill */
}

.cover-image {
    text-align: center;
    padding: 10px;
}

.image-product {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease; /* Hiệu ứng chuyển động mượt mà */
}

.cover-product:hover .image-product {
    transform: scale(1.1); /* Phóng to 110% khi hover vào */
}

.cover-content {
    padding: 10px;
    text-align: center;
}

.name-product {
    font-size: 16px;
    margin-bottom: 5px;
}

.cover-price-product {
    display: flex;
    justify-content: center; /* Căn giữa nội dung */
    align-items: center; /* Căn giữa nội dung */
    margin-top: 10px; /* Khoảng cách từ tên sản phẩm */
    background-color: #fff; /* Màu nền mặc định */
}



.new-price-product {
    font-weight: bold;
    color: black; /* Màu chữ trắng */
}

.old-price-product {
    text-decoration: line-through;
    color: #888;
    font-size: 12px;
}

.RiShoppingBag3Fill-product {
    position: absolute; /* Đặt vị trí tuyệt đối */
    bottom: 10px; /* Cách đáy 10px */
    right: 10px; /* Cách phải 10px */
    color: #888;
    font-size: 20px;
}
