.productdetail__info {
    margin-top: 20px;
    margin-bottom: 20px;
}
.productdetail__description h2{
    font-size: 1.375rem;
    font-weight: 600;
    margin: 70px auto 40px;
    text-align: center;
    text-transform: uppercase;
    color: #4c4c4c;
}