.promotion {
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.promotion__header {
    background-color: #fff;
    padding: 1.25rem;
    position: relative;
}

.promotion__title-container {
    display: inline-block;
    width: 93%;
    background: rgba(192, 186, 217, 0.247);
    padding: 0.5rem;
    border-radius: 0.3125rem;
    margin-bottom: 1rem;
}

.promotion__title {
    font-size: 2rem;
    margin: 0;
    color: rgba(31, 15, 100, 0.789);
}

.promotion__store-button {
    background-color: black;
    color: white;
    padding: 0.625rem 1.25rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.promotion__store-button:hover {
    background-color: #333;
}

.promotion__main-banner img {
    width: 95%;
    height: auto;
}

.promotion__grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1.25rem;
    gap: 1.25rem;
}

.promotion__card {
    background-color: white;
    padding: 0.3rem;
    transition: transform 0.3s ease;
    text-align: center;
    width: calc(25% - 1.25rem);
    box-sizing: border-box;
}

.promotion__card img {
    width: 100%;
}

.promotion__card:hover {
    transform: scale(1.15);
}

.promotion__card-title {
    margin-top: 0.625rem;
    font-size: 1.2rem;
    color: #333;
}

.promotion__img-fluid {
    max-width: 100%;
    height: auto;
}

.promotion__subtitle {
    font-size: 1.5rem;
    color: rgba(31, 15, 100, 0.789);
    margin-top: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promotion__subtitle .divider {
    margin: 0 0.5rem;
    color: rgba(31, 15, 100, 0.789);
}

/* Carousel styles */
.promotion__carousel-container {
    width: 90%;
    margin: 0 auto;
}

.promotion__carousel {
    margin: 1.25rem 0;
}

.promotion__carousel-item {
    text-align: center;
    padding: 0rem;

}

.promotion__carousel-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
}

.promotion__carousel-text {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 1rem;
}

.promotion__arrow {
    display: block;
    background: #ccc;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    z-index: 1;
}

.promotion__arrow--next {
    right: 10px;

}

.promotion__arrow--prev {
    left: 10px;
}

.promotion__section-separator {
    border: none;
    margin: 0;
    padding: 0;
}