.ReceiveMethodStep2-container {
    margin-top: 20px;
}

.ReceiveMethodStep2-title-ship-cover {
    background-color: #6A5AF9;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: larger;
    margin-bottom: 15px;
}

.ReveiveMethodStep2-title {
    margin: 0;
}

.ReceiveMethodStep2-select-address-cover {
    display: flex;
    column-gap: 25px;
    margin-bottom: 20px;
}

.ReceiveMethodStep2-select-address {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: transparent;
    width: 100%;
}

.ReceiveMethodStep2-input-address {
    border: 1px solid black;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
}

.ReceiveMethodStep2-input-address-takeNote-cover {
    margin-bottom: 20px;
}

.ReceiveMethodStep2-input-address-takeNote {
    border: 1px solid black;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    width: 100%;
}

.ReceiveMethodStep2-transport-method {
    font-weight: bold;
}

.ReceiveMethodStep2-transport-free-cover {
    display: flex;
    column-gap: 10px;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.ReceiveMethodStep2-transport-free {
    margin: 0;
    font-size: smaller;
}

.ReceiveMethodStep2-transport-free:first-child {
    font-weight: bold;
    font-size: 15px;
}

.ReceiveMethodStep2-checkBox-policy-body {
    margin-bottom: 1rem;
}