.userlogin_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.userlogin_wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.224);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    /* padding: 55px 40px; */
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.userlogin_linkback {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px;

}


.userlogin_back {
    font-family: Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #585858;
}

.userlogin_linkback .flex {
    font-family: Arial, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #585858;
}

.userlogin_wrapper button {
    width: 100%;
    height: 40px;
    background: #18a627;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin: 20px 0 20px;

}

.userlogin_wrapper button:hover {
    background: rgb(81, 193, 11);
}

.userlogin_benifit {
    padding-top: 25px;
}

.d-none {
    display: none;
}

.userlogin_input {
    padding-top: 15px;
    font-size: large;
}

.userlogin_input .text-red-600 {
    padding: 5px;
    text-align: center;
}

.userlogin_input input:focus {
    border: 10px;
    background: #abbfeb4f;
    /* Đổi màu border khi input được focus */
    box-shadow: 0 0 0 0.2rem rgba(160, 160, 241, 0.653);
    /* Thêm hiệu ứng shadow khi input được focus */
    outline: 0;
    /* Loại bỏ outline mặc định */
    border-radius: 8px;
    /* Đặt góc bo tròn cho input */
    border: 1px solid #d1d5db;
    /* Đặt border cho input */

    padding: 7px;
    /* Đặt padding cho input */
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    /* Thêm hiệu ứng transition cho border-color và box-shadow */
    padding-right: 2.3rem;

}

.userlogin_input input {
    border-radius: 8px;
    /* Góc bo tròn cho input */
    border: 1px solid #a0aec0;
    /* Màu border mặc định */
    padding: 7px;

    /* Padding cho input */
    background: #d5e1e998;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    /* Hiệu ứng transition */
    padding-right: 2.3rem;

}

.userlogin_input input:hover {
    background: #c9d4dcba;
}

.userlogin_welcome {
    padding-top: 0dvh;
}

.userlogin_logo {
    height: 100px;
    width: 100px;
    /* background-size: cover;
    display: inline-block; */
    justify-content: center;
    align-items: center;

}

.userlogin_input .userlogin__button:active {
    background-color: #18a627;
    /* color: ; */
}

.phone-input-wrapper .PhoneInputCountrySelect {
    display: none;

}
.userlogin__linktohome {
    justify-content: center;
    align-items: center;

}
.userlogin__customphoneinput .PhoneInputCountry{
    display: none;
}
.userlogin__customphoneinput {
    display: flex;
    align-items: center;
}
.userlogin__customphoneinput .userlogin__countrycode{
    margin-right: 8px;
    font-size: 16px;
}

