.verify_otp_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.verify-otp .bg-blue-500 {
    background-color: #3b82f6;
}
*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-slate-50 {
    background-color: #f8fafc;
}

.min-h-100vh {
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh)* 100);
}

.my-\[30px\] {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mx-\[10px\] {
    margin-left: 10px;
    margin-right: 10px;
}

.my-\[5px\] {
    margin-top: 5px;
    margin-bottom: 5px;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mx-\[5px\] {
    margin-left: 5px;
    margin-right: 5px;
}


.bg-white {
    background-color: #fff;
}

.items-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.flex-col {
    flex-direction: column;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.text-left {
    text-align: left;
}

.cursor-pointer {
    cursor: pointer;
}


.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.justify-center {
    justify-content: center;
}

.max-w-sm {
    max-width: 24rem;
}

.flex-grow,
.grow {
    flex-grow: 1;
}

.p-5 {
    padding: 1.25rem;
}

.text-center {
    text-align: center;
}

.d-none {
    text-decoration: none;
}

.text-white {
    color: #fff;
}

.mt-4 {
    margin-top: 1rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.font-bold {
    font-weight: 700;
}

.bg-\[\#1bb51b\] {
    background-color: #1bb51b;
}

.h-10 {
    height: 2.5rem;
}

.mt-2 {
    margin-top: .5rem;
}

.mr-3 {
    margin-right: .75rem;
}

.btn {
    display: inline-flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    padding: .5rem 1.25rem;
    text-align: center;
    letter-spacing: .025em;
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-duration: .2s;
}

.text-primary {
    color: #4f46e5;
}

.font-semibold {
    font-weight: 600;
}

.text-slate-600 {
    color: #475569;
}

.text-slate-400 {
    color: #94a3b8;
}

/* .mt-8 {
    margin-top: 2rem;
} */

.text-red-600 {
    color: #dc2626;
}

.relative {
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-input {
    display: flex;
    align-items: center;
}

.pointer-events-none {
    pointer-events: none;
}

.absolute {
    position: absolute;
}

.h-full {
    height: 100%;
}

.w-10 {
    width: 2.5rem;
}


.pl-9 {
    padding-left: 2.25rem;
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}

.bg-slate-150 {
    background-color: #e9eef5;
}

.rounded-lg {
    border-radius: .5rem;
}

.rounded {
    border-radius: .25rem;
}

a {
    text-decoration: none;
}

.form-input {
    height: 50px;
    box-sizing: border-box;
    padding-left: 1.5rem;
}

input {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}



.icon {
    height: 1.5rem;
    width: 1.5rem;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.gap-2 {
    gap: .5rem;
}

.text-blue-400 {
    color: #60a5fa;
}

.font-light {
    font-weight: 300;
}

@media (min-width: 1024px) {
    .lg\:max-w-md {
        max-width: 28rem;
    }
}


.verify_otp_wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.224);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: #000000;
    border-radius: 10px;
    /* padding: 55px 40px; */
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.verify_otp_wrapper button {
    justify-content: center;
    width: 100%;
    height: 40px;
    background: #18a627;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
    margin: 20px 0 20px;

}

.verify_otp_wrapper button:hover {
    background-color: #0056b3;
}




.mg-1 {
    margin: 0.25rem;
}

.verify_otp_container img {
    height: 100px;
    width: 100px;
    /* background-size: cover;
    display: inline-block; */
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.verify-otp {
    padding-top: 15px;
    font-size: large;
}

.verify-otp input:focus {
    border: 10px;
    background: #abbfeb4f;
    /* Đổi màu border khi input được focus */
    box-shadow: 0 0 0 0.2rem rgba(160, 160, 241, 0.653);
    /* Thêm hiệu ứng shadow khi input được focus */
    outline: 0;
    /* Loại bỏ outline mặc định */
    border-radius: 8px;
    /* Đặt góc bo tròn cho input */
    border: 1px solid #d1d5db;
    /* Đặt border cho input */
    /* Đặt padding cho input */
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    /* Thêm hiệu ứng transition cho border-color và box-shadow */
}

.verify-otp input {
    justify-content: center;
    width: 100%;
    /* Đặt chiều rộng của input */
    height: 40px;
    border-radius: 8px;
    /* Góc bo tròn cho input */
    border: 1px solid #a0aec0;
    /* Màu border mặc định */
    /* Padding cho input */
    background: #d5e1e998;
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    /* Hiệu ứng transition */
}

.verify-otp input:hover {
    background: #c9d4dcba;
}

.verify_otp_header {
    padding-top: 27px;
}

.verify-otp {
    padding-top: 35px;
}