.total1 {
    min-height: 100vh; /* Đảm bảo rằng nội dung sẽ chiếm ít nhất chiều cao của trình duyệt */
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: auto;
   /* Đảm bảo rằng nội dung sẽ chiếm ít nhất chiều cao của trình duyệt */
    padding-bottom: 50px; /* Khoảng trống dưới cùng của phần container chính */
    box-sizing: border-box; /* Đảm bảo padding không tăng kích thước của phần tử */
    
}
.imghome {
    width: 100px; /* Độ rộng mong muốn của hình ảnh */
    height: auto; /* Độ cao tự động tính toán dựa trên tỷ lệ chiều rộng */
}

.total1 {
    background-color: #f5f5f5;
    color: #333;
    padding: 20px; 
}
.intro {
    margin-bottom: 20px;
}

.contact {
    margin-bottom: 20px;
}

.social-media {
    margin-bottom: 20px;
}

.icon1 {
    list-style-type: none;
    padding: 0;
    display: flex;
    font-size: 30px;
}

.icon1 li {
    margin-right: 30px;
}

.icon1 li:last-child {
    margin-right: 0;
}
.icon1 a {
    color: #000000;
    transition: color 0.3s ease;
}

.icon1 a:hover {
    color: #007bff;
}
.intro h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.intro p {
    font-size: 16px;
    margin-bottom: 5px;
}

.separator {
    border: none;
    height: 1px;
    margin: 20px 0; /* Khoảng cách trên và dưới đường viền */
    border-bottom: 1px solid #ccc; /* Màu và định dạng đường viền */
    margin: 20px 0; /* Khoảng cách trên và dưới đường viền */
}

.thanhtoan-chungnhan {
    display: grid;
    grid-template-columns: auto auto; /* Hai cột có chiều rộng tự động */
    justify-content: space-between; /* Căn đều hai phía */
}


