/* Logo  */

.admin__imagelogo .logo__img {
    width: 100px;
    height: 60px;
    margin-right: 20px;
    object-fit: cover;
    background: transparent; 

}

/* End Logo  */

/* Center Table */
.centered-table th, .centered-table td {
    text-align: center;
    vertical-align: middle;
}
/* End Center Table */


/* Dashboard  */
.dashboard__container {
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: black;
}

.dashboard__header {
    display: flex;
    justify-content: center;
}

.dashboard__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
}

.dashboard__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
}

.dashboard__card:first-child {
    background-color: #33dcfa;
}

.dashboard__card:nth-child(2) {
    background-color: #f8d741;
}

.dashboard__card:nth-child(3) {
    background-color: #32f162;
}

.dashboard__card:nth-child(4) {
    background-color: #f78d8d;
}

.dashboard__card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard__card-inner>.card_icon {
    font-size: 25px;
}

.dashboard__charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 60px;
    height: 300px;
}

/* End Main  */


/* Medium <= 992px */

@media screen and (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 3fr;
        grid-template-areas:
            'header'
            'main';
    }

    #sidebar {
        display: none;
    }

    .menu-icon {
        display: inline;
    }

    .sidebar-title>span {
        display: inline;
    }
}

/* Small <= 768px */

@media screen and (max-width: 768px) {
    .dashboard__container {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 0;
    }

    .dashboard__charts {
        grid-template-columns: 1fr;
        margin-top: 30px;
    }
}

/* End DashBoard  */
/* Detail */
.dashboard {
  padding: 20px;
  background-color: #f8f9fa;
}

.chart-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  margin: 20px 0;
}

.chart {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  max-height: 470px;
  justify-content: center;
  align-items: center;
}

/* .chart.pie canvas {
  max-width: 100% !important; 
  max-height: 100% !important;
} */
.detail__container {
    margin-top: 20px;
    padding: 20px;
    font-size: 20px;
  }
  
  .detail__container h1 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .detail__container h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
  }
  
  .detail__container img {
    display: block;
    margin-bottom: 20px;
    width: 200px;
    height: auto;
  }
  
  .detail__container .detail-item {
    margin-bottom: 20px;
    font-size: 1.2rem;
  }
  
  .detail__container .badge {
    padding: 0 auto;
    font-size: 1rem;
  }
  
/* End Detail */