.admincategory__container{
    margin-top: 20px;
}
.admincategory__pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 2rem; */
}
.admincreatecategory__wrapperbtn{
    padding-top: 2rem;
}
.flex-end{
    display: flex;
    justify-content: end;
}
.admincreatecategory__container{
    margin-top: 20px;
}
.admincreatecategory__container .admincreatecategory__btn{
    color: white;
    background-color: #3b82f6;
}

.admincreatecategory__container .admincreatecategory__btn:hover{
    color: white;
    background-color: #0056b3;
}
.mb-3{
    margin-bottom: 0.75rem;
}
.mr-1{
    margin-right: 0.75rem;
}
.centered-table th, .centered-table td {
    text-align: center;
    vertical-align: middle;
}
